header {
  height: 80px; 
  background-color: #333; 
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo img {
  max-height: 100px;
  width: auto; 
}

nav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav li {
  margin-left: 20px; 
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem; 
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ccc;
}

@media (max-width: 768px) {
  header {
    padding: 0.75rem;
    height: 60px; 
  }

 

  nav li {
    margin-left: 1.5rem;
  }

  nav a {
    font-size: 1rem; 
  }
}
@media (max-width: 768px) {
  header {
    padding: 0.75rem;
    height: 60px;
  }


  nav li {
    margin-left: 1.5rem;
  }

  nav a {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  header {
    display: none; 
  }

  nav {
    display: none; 
  }
}