  footer {
    background-color: #222;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }

  /* Responsive Styles */
@media (max-width: 768px) {
  
  footer {
    padding: 0.5rem;
  }
}

@media (max-width: 480px) {


  footer {
    padding: 0.3rem;
  }
}

