/* Main content styles */
main {
    padding: 2rem;
  }
  
  section {
    margin-bottom: 3rem;
  }
  
  h1, h2 {
    text-align: center;
  }
  
  button {
    display: block;
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    background-color: #1a73e8;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0d47a1;
  }
  
  /* Featured products styles */
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 2rem;
  }
  
  .product-card {
    text-align: center;
  }
  
  .product-card img {
    max-width: 100%;
    height: auto;
  }

body {
  background-image: url('/src/assets/tesla-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}


  /* Responsive styles */
  @media (max-width: 768px) {
    main {
      padding: 1rem;
    }
  
    section {
      margin-bottom: 2rem;
    }
  
    h1 {
      font-size: 1.8rem;
    }
  
    h2 {
      font-size: 1.4rem;
    }
  
    .product-grid {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      grid-gap: 1.5rem;
    }
  }
  
  @media (max-width: 480px) {
    h1 {
      font-size: 1.5rem;
    }
  
    h2 {
      font-size: 1.2rem;
    }
  
    button {
      font-size: 0.9rem;
    }
  
    .product-grid {
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
      grid-gap: 1rem;
    }
  }